.MainContainer{
    padding: 0 1rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.loggedOut{
    margin: 0 !important;
    padding: 0;
}

@media(min-width:768px){
    .MainContainer {
        margin-left: 30%;
    }
}


@media(min-width: 1024px){
    .MainContainer {
        margin-left: 25%;
    }
}