.Backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0,0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    background-color: #f4f9ff;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    max-width: 600px;
    flex-grow: 0;

}

.content h3 {
    background-color: #f4f9ff !important;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
}

.content p {
    width: 100%;
    margin-top: 1rem;
}

.content input {
    margin-top: 1rem;
    margin-bottom: 0;
}

.hide {
    display: none;
}
@media (max-width: 499px){
    .content {
        max-width: 80%;
    }
}


@media (min-width: 500px) and (max-width: 1000px){
    .content {
        max-width: 60%;
    }
}