.LeftDrawer {
    background-color: white;
    z-index: 50;
    position: fixed;
    height: 100%;
    left: 0;
    max-width: 100%;;
    top: 0;
    min-width: 30%;
    width: 30%;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    border-right: solid 1px #eaecf0;
}

.Logo {
    height: 4.5rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #eaecf0;
}

.Logo img {
    height: 100%;
}

/* Remove logo for over 768 */
@media(min-width: 1024px){
    .LeftDrawer {
        min-width: 25%;
        width: 25%;
    }
}

@media (max-width: 768px){
    .LeftDrawer {
        min-width: 75%;
        width: 75%;
    }
    .Logo {
        display: none;
    }
}

.Open {
    transform: translateX(0%);
}

.Closed {
    transform: translateX(-100%);
}

@media (min-width: 768px){
    .Closed {
        transform: translateX(0%);
    }
}

@keyframes Default {
    0% { transform: translateX(100%); }
    50% { transform: translateX(100%); }
    100% { transform: translateX(0%); }
}

.LeftDrawer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}

.LeftDrawer h2 {
    padding: 0.5rem 0;
    color: #424656;
}

.LeftDrawer li {
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
.LeftDrawer ul li a {
    color: #424656;
    display: block;
    text-decoration: none;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin: 0;
}
.LeftDrawer ul li a.active {
    background-color: #ebf6ff;
    color: black;
}

.LeftDrawer ul li a:hover,
.LeftDrawer ul li a:focus,
.LeftDrawer ul li a:active,
.LeftDrawer ul li :global(.active) {
    background-color: #ebf6ff;
    color: black;
}
