.TransactionBox {
    margin: 1rem;
    flex-grow: 0;
    border-bottom: none;
    flex-basis: 400px;
}

.TransactionBox button {
    margin: 0 0.5rem;
}

.TransactionBox h2 {
    padding: 0.25rem 0;
    color: white;
}

.greenbg {
    background-color: #00a458;
}
.yellowbg {
    background-color: #ffb300;
}

.TransactionBox button {
    cursor: pointer;
    margin-top: 1rem;
}

@media (max-width: 499px) {
    .TransactionBox {
        width: 100%;
    }
}