.Toolbar {
    height: 3rem;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 25;
    justify-content: space-between;
}
