.Toolbar {
    height: 4.5rem;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    z-index: 25;
    justify-content: space-between;
}

.Menu {
    padding: 0 1rem;
    display: none;
    flex-basis: 0;
    align-items: center;
    color: #0087ff;
    flex-grow: 1;
}

.Menu svg {
    cursor: pointer;
}

.Menu:active,
.Menu:hover,
.Menu:focus {
    color: #39a2ff;
}

.NavigationItems {
    display: flex;
    justify-content: start;
    height: 100%;
    align-items: end;
    flex-grow: 0;
    padding: 1rem;
    padding-bottom: 1.4rem;
    box-sizing: border-box;
}

.NavigationItems ul {
    margin-bottom: 1rem;
}

.centerLogo {
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;
    display: none;
}
.centerLogo img {
    height: 100%;
    margin: 0;
}

.NavigationItems img {
    height: 100%;
    margin-right: 3rem;
}

.NavigationItems.LogoBig {
    flex-grow: 1;
    flex-basis: 0;
}

.Session {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: end;
    padding: 0 1rem;
}

@media (max-width: 1000px){
    .Menu {
        display: flex;
    }
    .centerLogo {
        display: flex;
    }
    .NavigationItems {
        display: none;
    }
}