.itemHolder{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: white;
    cursor: pointer;
}
.itemHolder div {
    display: flex;
    align-items: center;
}


.itemHolder.selected{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: #ebf6ff;
}

.itemHolder:hover,
.itemHolder:focus,
.itemHolder:active {
    background-color: #ebf6ff;
    color: black;
    cursor: pointer;
}

.itemInfo {
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
    transition: max-height 0.6s ease;
}
.itemInfo p {
    display: inline-block;
    margin-bottom: 0
}
.itemInfo.hidden {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}


.itemInfo.show {
    max-height: 250px;
}

.contact {
    padding-top: 1rem;
}
.contact p {
    margin: 0;
}
.contact a {
    text-decoration: none;
    color: #0087ff;
}
.contact strong {
    margin-right: 0.5rem;
}
.initialAmount {
    margin-top: 1rem;
}
.initialAmount strong {
    margin-right: 0.5rem;
}
.amount, .date {
    flex-basis: 25%;
}

.date {
    justify-content: flex-end;
}

.contactName {
    padding: 0 0.5rem;
}