.Container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.introduction{
    padding-left: 50px;
    width: 100%;
    max-width: 1440px;;
    box-sizing: border-box;
}
.introduction h4 {
    font-size: 30px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.introduction h1 {
    max-width: 600px;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    margin: 50px 0;
    font-weight: 300;
    margin-top: 0;
}
.banner{
    padding-left: 50px;
    width: 100%;
    padding: 0 50px;
    min-height: 300px;
    height: 300px;
    background-color: #004786;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner.topBanner {
    padding: 0;
    height: auto;
    min-height: 0;
    overflow: hidden;
}
.banner.topBanner img {
    width: 100%;
    height: auto;
}
.banner .content {
    max-width: 1440px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.banner .content.hasIcon svg {
    position: absolute;
    font-size: 250px;
    left: 47px;
    top: 50px;
    transform: rotate(-45deg);
    color: #6b8caa;
}
.banner .content .hasText{
    margin-left: 250px;
    max-width: 300px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    overflow: wrap;
    text-align: left;
    position: relative;
    z-index: 5;
}
.banner .content .hasText h2{
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    position: relative;
    z-index: 5;
    font-size: 28px;
}
.banner .content .hasText h4{
    margin-left: 0;
    padding-left: 0;
    text-align: left;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    z-index: 5;
    font-size: 18px;
    box-sizing: border-box;
    margin-bottom: 0;
}

.cardHolder {
    max-width: 1440px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardHolder .outerCard{
    margin: 0;
    display: flex;
    padding: 0;
}

.cardHolder .outerCard .card{
    color: #004786;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0;
    padding: 25px;
    margin: 0 25px;
    margin-bottom: 25px;
    background-color: white;
}

.cardHolder .outerCard .card h4{
    margin-bottom: 0;
    text-align: left;
    font-family: "Montserrat";
}

.cardHolder .outerCard .card svg{
    font-size: 50px;
    margin-bottom: 20px;
}

@media(max-width: 799px){
    .banner .content .hasText{
        margin: 0;
        padding-left: 50px;
    }
    .banner{
        padding: 0;
    }
}

@media(max-width: 549px){
    .cardHolder .outerCard{
        flex-basis: 80%;
    }
}
@media(min-width: 550px){
    .cardHolder .outerCard{
        flex-basis: 50%;
    }
}
@media(min-width: 1140px){
    .cardHolder .outerCard{
        flex-basis: 25%;
    }
}