.InfoBox{
    flex-grow: 1;
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    background-color: white;
}
.InfoBox h2 {
    padding: 0.25rem 0;
    background-color: #0087ff;
    color: white;
}
.TransactionInfo{
    margin: 1rem;

    display: flex;
    flex-direction: column;
    flex-basis: 400px;
}

.TransactionInfo .buttons button {
    margin: 0 0.5rem;
}