.Link {
    position:relative;
    display:inline-block;
    transition: all 0.3s ease-out;
}

.slider {
    position: absolute;
    display:block;
    left: 0;
    top: 90%;
    margin:0 auto;
    height: 2px;
    background-color: rgb(0, 140, 255);
    width: 0%;
    transition: width .5s ease;
}
.Link:hover {
    color: black;
}
.Link:hover .slider {
    width: 100%;
}