.ContactIndex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ContactIndex h1 {
    width: 100%;
    margin-bottom: 2rem;
}

.Search {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.latestClients {
    flex-basis: 300px;;
}

.title {
    padding: 0.25rem;
    background-color: #0087ff;
    color: white;
}

.Item {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: white;
    width: 100%;
    cursor: pointer;
}

.ContactIndex a {
    width: 100%;
    text-decoration: none;
    color: #424656;
}

.Item:hover,
.Item:active,
.Item:focus {
    background-color: #ebf6ff;
}