.Backdrop {
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    margin-top: -3rem;
    width: 100%;
    z-index: 30;
    background-color: rgb(0,0,0,0.5)
}

.Initiate {
    animation-name: fadeIn;
    animation-duration: 2s;
}

.Open {
    animation: open ease 0.3s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
    }

@keyframes open {
    0%  {opacity: 0;}
    100% {opacity: 1;}
}