.Modal p {
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    text-align: left;
}

.Modal h3 {
    text-align: left;
    margin-bottom: 0.5rem;
}

.Modal form {
    width: 100%;
}


.privilege {
    padding: 0.5rem 0;
}

p.error {
    color: #f34672;
    padding-top: 1rem;
}

input.error {
    border-color: #f34672;
    color: #68323f;
}