.NewAccount {
    padding: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titleHolder {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
}
.titleHolder h2 {
    margin: 0;
    width: auto;
    flex-grow: 0;
}

.SignIn {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

.AccountLink {
    color: #0087ff;
    cursor: pointer;
}