.InfoBox{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.InfoBox h2 {
    padding: 0.25rem 0;
    background-color: #0087ff;
    color: white;
}
.ContactInfo{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: 400px;
    margin: 1rem;
}

.ContactInfo .buttons button {
    margin: 0 0.5rem;
}