.InfoBox{
    margin: 1rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.InfoBox h2 {
    padding: 0.25rem 0;
    background-color: #0087ff;
    color: white;
}
.ContactInfo{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ContactInfo .buttons button {
    margin: 0 0.5rem;
}