.NavigationItems ul {
    list-style: none;
    margin: 0;
padding: 0;
    margin-bottom: .1rem;
    width: 100%;
    text-align: center;
}

.NavigationItems li {
    display: inline-block;
    color: #424656;
    padding: 0 1rem;
}

.NavigationItems a {
    text-decoration: none;
    color: #424656;
    box-sizing: border-box;
}